In [1]:
#python program to clone or copy a list
original_list = [10, 22, 44, 23, 4]  
new_list = list(original_list)  
print(original_list)  
print(new_list)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [2]:
#python program to print specified list after removing 0th,4th,5th elements
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']  
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]  
print(color)

['Green', 'White', 'Black']

In [3]:
#python program to print no. of specified list after removing even no.s from list
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [4]:
#python program to shuffle and print a specified list
from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Red', 'Black', 'Yellow', 'Green', 'White', 'Pink']

In [5]:
#python program to get the difference between two lists
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]